h1, h2, h3, h4, h5, h6{
 font-family: "Verdana", sans-serif;
 font-weight: bold;
}


h1 {
       padding: 60px;
       text-align: center;
       background: #1abc9c;
       color: white;
       font-size: 50px;
}


h2 {
    color: green;
    font-size: 20px;
}

h3 {
    color: #008080;
    font-size: 14px;
}

p {
  font-family: "Georgia", serif;
}

.wrapper {
  margin-right: auto; 
  margin-left:  auto; 

  max-width: 960px; 

  padding-right: 10px; 
  padding-left:  10px; 
}

body {
    line-height: 1.6;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.footer { 
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
   position: relative;
   top: 350px;
}

audio { display:none;}

a:link {
  color: blue;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #555;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;    
  background-color: #f1f1c1;
}
